body {
    margin: 0;
}
.navContainer, .logoContainer, .navLinkContainer, .topContainer, .secondContainer, .thirdContainer, .footerBlock {
    display: flex;
}
.navLinkContainer {
    margin-top: 2em;
    margin-left: auto;
    margin-right: 3em;
}
.nav1, .nav2, .nav3 {
    text-align: center;
    flex-basis: max-content;
    justify-content: flex-end;
}
.textContainer, .imgContainer, .footerBlock {
}
.topContainer, .secondContainer, .thirdContainer {
    justify-content: center;
    gap: 5em;
    padding: 3em;
}
.topContainer {
    margin-bottom: 5em;
}
.secondContainer {
    background: url('images/bg-curve-desktop.svg') no-repeat center;
    background-size: cover;
}
.topInputContainer {
    display: flex;
    gap: 1rem;
}
.topButton {
    width: 13rem;
    height: 3rem;
    background-color: #3460ef;
    border: 0;
    border-radius: 0.2em;
    text-align: center;
    color: white;
}
.topInput {
    width: 20rem;
    height: 2.6rem;
    border: ;
}

img {
    width: 500px;

}
.textContainer {
    margin-top: 5rem;
}
.textContainer, .footerBlock{
    text-align: left;
    max-width: 40rem;
}

.thirdContainer {
    background-color: #585989;
    color: white;
    justify-content: space-between;

    
}

.thirdContainerButton {
    width: 13rem;
    height: 3rem;
    background-color: #3460ef;
    border: 0;
    border-radius: 0.2em;
    text-align: center;
    color: white;
}
 {
    width: 30rem;
    height: 3rem;
}
.footerBlock {
    gap: 0.8rem;
    flex-direction: column;
}

/* @media screen and (min-width: 1200px) {
    .topContainer, .secondContainer, .thirdContainer, .navContainer  {
      max-width: 1400px;
    }
  } */