body {
    margin: 0;
}
* {
    text-align: left;
}
.navContainer, .logoContainer, .navLinkContainer, .topContainer, .secondContainer, .thirdContainer, .footerBlock {
    display: flex;
    justify-content: space-between;
}
.navLinkContainer {
    margin-top: 2em;
    margin-left: auto;
    margin-right: 3em;
}
.nav1, .nav2, .nav3 {
    text-align: center;
    flex-basis: max-content;
    justify-content: flex-end;
}
.textContainer, .imgContainer, .footerBlock {
}
.topContainer, .secondContainer, .thirdContainer {
    justify-content: space-between;
    gap: 1em;
    padding: 3em;
    max-width: 1000px;
    margin: 0 auto;
}
.topContainer {
    margin-bottom: 7%;
}
.secondContainer {
    background: url('images/bg-curve-desktop.svg') no-repeat center;
    background-size: cover;
}

img {
 max-width: 45em;

}
.textContainer, .footerBlock{
    text-align: left;
    align-self: center;
    max-width: 30em;
}

.thirdContainer {
    background-color: #585989;
    color: white;
    justify-content: space-between;

    
}

.thirdContainerButton {
    width: 13rem;
    height: 3rem;
    background-color: #3460ef;
    border: 0;
    border-radius: 0.2em;
    text-align: center;
    color: white;
}
input {
    width: 30rem;
    height: 3rem;
}
.footerBlock {
    gap: 0.8rem;
    flex-direction: column;
}

@media screen and (min-width: 1200px) {
    .topContainer, .secondContainer, .thirdContainer {
      max-width: 1400px;
    }
  }